.profileEdit {

    padding-left: 100px;

    // background: yellow;
    .img_containr {

        img {
            width: 200px;
        }
    }

    /* Textbox 3 */


    .textbox {
        margin: 10px 20px;

        input {
            width: 250px;
            height: 36px;
            padding: 0 12px;
            font-size: 18px;
            background: #F3F4F6FF;
            border-radius: 4px;
            border-width: 0px;
            outline: none;

        }

        .label {
            font-size: 18px;
            line-height: 22px;
        }

    }

    .name_box {
        display: flex;
    }

    .email_box {
        input {
            width: 350px;
        }
    }



    .save_btn {
        width: 200px;
        padding: 10px;
        border-radius: 15px;
        border: solid 2px green;
        background: white;
        font-size: 20px;
        font-weight: 600;
        color: green;
        cursor: pointer;
        margin: 10px 20px;

        &:hover {
            background: green;
            color: white;
            border: solid 2px rgb(0, 55, 0);

        }
    }
}