*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
}
*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}


ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}

.App {

}

.mainPages{
  padding-top: 70px;
}
